* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Maison Neue Light";
    src: url("../font/maison-neue-light/maison-neue-light.ttf");
}

// Layouts
@import "./Layouts/main-row";

// Components
@import "./Components/header";
